<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Password Reset</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body class="login">
  <header>
  </header>
  <main>
  	  <a href="/"><img src="{% static 'images/TPL-Reclaim-Logos_BG-navy.png' %}" alt="Reclaim Chicago and The People's Lobby Logos" class="logo--large"></a>
  	  <div class='form--login'>
        <h1>Password Reset</h1>
  		  <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button>
            <div class='action-links'>
              <a href="/login" class="small-link">Cancel</a>
            </div>
        </form>
  	  </div>
  </main>
  <footer>
  </footer>
</body>
</html>