<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Password Reset</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body class="login">
  <header>
  </header>
  <main>
  	  <a href="/"><img src="{% static 'images/TPL-Reclaim-Logos_BG-navy.png' %}" alt="Reclaim Chicago and The People's Lobby Logos" class="logo--large"></a>
  	  <div class='form--login password-reset-form'>
        {% if validlink %}
          <h1>Change password</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
            <div class='action-links'>
              <a href="/login" class="small-link">Cancel</a>
            </div>
          </form>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        {% endif %}
  	  </div>
  </main>
  <footer>
  </footer>
</body>
</html>